.cart-header {
    border-bottom: 2px solid #ea9ea2; 
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}


.cart-item-row {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.btn-remove {
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    padding: 0 15px 0 0;
    cursor: pointer;
}

.qty-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: fit-content;
    margin: 0 auto; /* Căn giữa ô này */
}

.qty-btn {
    width: 35px;
    height: 35px;
    background: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-input {
    width: 40px;
    height: 35px;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    font-weight: 600;
}

.product-name {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.product-desc {
    font-size: 13px;
    color: #666;
    line-height: 1.4;
}

.cart-footer-total {
    color: #da380b; 
    font-size: 24px;
    font-weight: 700;
}

.btn-checkout-black {
    background-color: #111;
    color: #fff;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

.btn-checkout-black:hover {
    background-color: #da380b;
    color: #fff;
}

.continue-shopping-block {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.button {
    background-color: #111;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover{
    background-color: #da380b;
    color: #fff;
}
