*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img_fish-tank/seabg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

/* Submarine */
.sub-marine-1 {
    position: absolute;
    left: -10%;
    top: 20%;
    animation: submarin-1-move linear 40s infinite;
}

.sub-marine-2 {
    position: absolute;
    right: -10%;
    top: 50%;
    animation: submarin-2-move linear 40s infinite;
}

@keyframes submarin-1-move {
    0% {
        left: -10%;
        top: 20%;
    }
    100% {
        left: 110%;
        top: 20%;
    }
}
@keyframes submarin-2-move {
    0% {
        right: -10%;
        top: 50%;
    }
    100% {
        right: 110%;
        top: 50%;
    }
}
/* Submarine end */

/* Octopus */
.octopus-1 {
    position: absolute;
    top: 70%;
    left: 85%;
    animation: octopus-1-move 2s linear infinite;
}
.octopus-2 {
    position: absolute;
    top: 20%;
    left: -10%;
    animation: octopus-2-move 10s linear infinite;
}
.octopus-3 {
    position: absolute;
    top: 110%;
    left: -10%;
    animation: octopus-3-move 20s linear infinite;
}
.octopus-4 {
    position: absolute;
    top: 60%;
    left: 30%;
    animation: octopus-4-move 3s linear infinite;
}
.octopus-5 {
    position: absolute;
    top: 40%;
    left: 50%;
    animation: octopus-5-move 5s linear infinite;
}

@keyframes octopus-1-move {
    0% {
        top: 70%;
        left: 85%;
    }
    50% {
        top: 60%;
        left: 85%;
    }
    100% {
        top: 70%;
        left: 85%;
    }
}

@keyframes octopus-2-move {
    0% {
        top: 20%;
        left: -10%;
    }
    50% {
        top: 57%;
        left: 110%;
    }
    100% {
        top: 20%;
        left: -10%;
    }
}

@keyframes octopus-3-move {
    0% {
        top: 110%;
        left: -10%;
    }
    50% {
        top: 10%;
        left: 70%;
    }
    100% {
        top: 110%;
        left: -10%;
    }
}

@keyframes octopus-4-move {
    0% {
        top: 60%;
        left: 30%;
    }
    50% {
        top:50%;
        left: 30%;
    }
    100% {
        top: 60%;
        left: 30%;
    }
}

@keyframes octopus-5-move {
    0% {
        top: 40%;
        left: 50%;
    }
    50% {
        top: 70%;
        left: 50%;
    }
    100% {
        top: 40%;
        left: 50%;
    }
}
/* Octopus end */

/* Fish */
.fish-1 {
    position: absolute;
    top: 40%;
    left: -10%;
    animation: fish-1-move linear 10s infinite;
}
.fish-2 {
    position: absolute;
    top: 10%;
    left: -50%;
    animation: fish-2-move linear 10s infinite;
}
.fish-3 {
    position: absolute;
    top: 20%;
    left: -30%;
    animation: fish-3-move linear 30s infinite;
}
.fish-4 {
    position: absolute;
    top: 40%;
    left: -45%;
    animation: fish-4-move linear 30s infinite;
}
.fish-5 {
    position: absolute;
    top: 8%;
    left: -10%;
    animation: fish-5-move linear 30s infinite;
}

@keyframes fish-1-move {
    0%{
        top: 40%;
        left: -10%;
    }
    50%{
        top: 40%;
        left: 70%;
    }
    100%{
        top: 40%;
        left: 110%;
    }
}
@keyframes fish-2-move {
    0%{
        top: 10%;
        left: -50%;
    }
    50%{
        top: 10%;
        left: 100%;
    }
    100%{
        top: 10%;
        left: 110%;
    }
}
@keyframes fish-3-move {
    0%{
        top: 20%;
        left: -30%;
    }
    50%{
        top: 20%;
        left: 100%;
    }
    100%{
        top: 20%;
        left: 110%;
    }
}
@keyframes fish-4-move {
    0%{
        top: 40%;
        left: -45%;
    }
    50%{
        top: 40%;
        left: 100%;
    }
    100%{
        top: 40%;
        left: 110%;
    }
}
@keyframes fish-5-move {
    0%{
        top: 8%;
        left: -10%;
    }
    50%{
        top: 8%;
        left: 100%;
    }
    100%{
        top: 8%;
        left: 110%;
    }
}
/* Fish end */

/* Crab */
.crab-1 {
    position: absolute;
    left: 50%;
    bottom: -3%;
}
.crab-2 {
    position: absolute;
    left: -10%;
    bottom: -3%;
    animation: crab-2-move linear 15s infinite;
}

@keyframes crab-2-move {
    0% {
        left: -10%;
        bottom: -3%;
    }
    100% {
        left: 110%;
        bottom: 0%;
    }
}
/* Crab end */

/* Others */
.seahorse-1 {
    position: absolute;
    left: -10%;
    top: 10%;
    animation: seahorse-1-move linear 10s infinite;
}
.jellyfish-1 {
    position: absolute;
    right: 10%;
    bottom: -10%;
    animation: jellyfish-1-move linear 25s infinite;
}
.seaweed-1 {
    position: absolute;
    left: -3%;
    bottom: -10%;
}
.seeweed-2 {
    position: absolute;
    right: -3%;
    bottom: -10%;
}
.turtle-1 {
    position: absolute;
    right: 7%;
    bottom: -6%;
}

@keyframes seahorse-1-move {
    0% {
        top: 10%;
        left: -10%;
    }
    100% {
        top: 90%;
        left: 100%;
    }
}
@keyframes jellyfish-1-move {
    0% {
        right: 10%;
        bottom: -10%;
    }
    100% {
        right: 10%;
        bottom: 110%;
    }
}
/* Others end */

/* Bubble */
.bubble {
    position: absolute;
    bottom: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    animation: bubble-rise 10s linear infinite;
}

.bubble.b1 {
    left: 15%;
    animation-duration: 8s;
}

.bubble.b2 {
    left: 30%;
    animation-duration: 10s;
    animation-delay: 2s;
    width: 25px;
    height: 25px;
}

.bubble.b3 {
    left: 50%;
    animation-duration: 6s;
    width: 15px;
    height: 15px;
}

.bubble.b4 {
    left: 70%;
    animation-duration: 9s;
    animation-delay: 1s;
    width: 7px;
    height: 7px;
}

.bubble.b5 {
    left: 80%;
    animation-duration: 11s;
    animation-delay: 3s;
    width: 7px;
    height: 7px;
}

.bubble.b6 {
    left: 90%;
    animation-duration: 15s;
    width: 7px;
    height: 7px;
}

@keyframes bubble-rise {
    0% {
        bottom: 0px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 0.7;
    }
    100% {
        bottom: 90%;
        opacity: 0;
    }
}
/* Bubble end */
