/* Sidebar Filter */
.sidebar-filter a[data-toggle="collapse"] {
    font-size: 15px;
    padding: 5px 0;
}
.sidebar-filter a[data-toggle="collapse"]:hover {
    color: #d9232e !important;
}
.sidebar-filter ul li a {
    font-size: 14px;
    transition: all 0.2s;
}
.sidebar-filter ul li a:hover {
    color: #d9232e !important;
    padding-left: 5px;
}
/* End Sidebar Filter */

.product-item {
    transition: transform 0.3s;
}
.product-item:hover {
    transform: translateY(-5px); 
}
.product-name a:hover {
    color: #d9232e !important;
}
.price-box {
    font-size: 15px;
}

.page-link {
    background: transparent;
}
.page-item.active .page-link {
    background: transparent;
    color: #000 !important;
    border-bottom: 2px solid #000;
}