@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --first-color: #DA380B;
    --title-color: #201E1D;
    --text-color: #484342;
    --text-color-light: #A9A4A2;
    --container-color: #F5F5F4;
    --border-color: #A29C9A;

    --gray-color: #DAD8D7;

    /* FONT */
    --font-1: "Inter", sans-serif;
}

/* NAVBAR */

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.topbar {
    padding-top: 20px;
}

.header .topbar-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .topbar-bar-container img {
    width: 200px;
    height: auto;
}

.header .topbar-bar-container .navbar-form,
.navbar-buttons {
    display: flex;
    align-items: center;
}

.header .topbar-bar-container .navbar-form {
    border: 1px solid var(--border-color);
    height: 44px;
    border-radius: 32px;
    padding: 5px;
}

.header .topbar-bar-container .navbar-button {
    width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    margin-left: 10px;
    text-decoration: none;
}

.header .topbar-bar-container .navbar-button:hover {
    background: var(--first-color);
    color: black;
}

.header .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar-container .navbar-list {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .navbar-container ul .navbar-link {
    text-decoration: none;
}

.header .navbar-container ul .navbar-link:hover {
    text-decoration: none;
    color: var(--first-color);
}

.header .navbar-container .navbar-contact {
    display: flex;
    align-items: center;
}

.header .navbar-container .navbar-contact span {
    font-weight: 500;
}

.header .navbar-container .navbar-contact span:hover {
    color: var(--first-color);
}

@media (max-width: 767.98px) {
    .header .navbar-container {
        display: none;
    }

    .header .navbar-buttons {
        display: none;
    }

    .topbar {
        padding: 15px 0;
    }

    .navbar-container.active {
        display: block;
        animation: slideDown 0.3s ease-out;
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .navbar-toggler {
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

/* Hiệu ứng trượt xuống */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FIXED HEADER */

/* END NAVBAR */

/* HOME */
.main {
    padding: 100px 0;
}

.main .home .swiper-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.main .home .home-swiper .swiper-slide {
    width: 100vw;
    height: auto;
    padding: 100px 50px;
}

.main .home .home-tag {
    background: #fff;
    color: var(--first-color);
    display: inline-flex;
    align-items: center;
    padding: 8px 18px;
    border-radius: 32px;
    font-weight: 700;
}

.main .home .home-title {
    font-size: 64px;
    max-width: 800px;
    margin-top: 20px;
}

.main .home .home-desc {
    max-width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.main .home .button {
    display: inline-flex;
    background: var(--first-color);
    color: #FFF;
    padding: 16px 40px;
    border-radius: 30px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    background: var(--gray-color);
}

.swiper-pagination-bullet-active {
    width: 80px;
}

/* END HOME */

/* PRODUCTS */
.product {
    padding: 50px 0;
}

.product .inner-title {
    text-align: center;
}

.product .inner-title .line {
    width: 200px;
    height: 2px;
    background: var(--gray-color);
    margin: 20px auto;
}

.product .product-header {
    border: 1px solid var(--border-color);
    position: relative;
    overflow: hidden;
}

.product .product-img,
.product-content {
    width: 100%;
}

.product .product-content {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--container-color);
    padding: 24px;
    transform: translateY(130px);
    transition: transform 0.3s ease;
}

.product-card:hover .product-content {
    transform: translateY(0);
}

.product-stars {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.product-size {
    display: flex;
    margin: 15px 0;
}

.product-size-label {
    width: 42px;
    height: 23px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
}

.product-size-input {
    display: none;
}

.product .product-button {
    display: flex;
    justify-content: center;
}

.product .product-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.product .product-title {
    margin-bottom: 10px;
}

.product .product-title a {
    transition: color 0.3s ease;
}

.product .product-title:hover a {
    color: var(--first-color);
}

.product-price {
    color: var(--first-color);
    font-size: 22px;
}

.product .product-wishlist {
    font-size: 24px;
}

@media (max-width: 575.98px) {
    .product .product-content {
        display: none;
    }
}

/* END PRODUCTS */

/* CATEGORIES */
.categories .categories-subtitle {
    margin-bottom: 10px;
}

.categories .categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.category-card {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    /* Bo góc như hình mẫu */
    position: relative;
    overflow: hidden;
    display: flex;
    transition: transform 0.3s ease;
}

.category-card:hover {
    transform: translateY(-5px);
}

/* Độ cao cho từng loại ô */
.main-card {
    height: 700px;
    align-items: flex-end;
    padding: 30px;
}

.horizontal-card {
    height: 320px;
    align-items: center;
    padding: 40px;
}

.square-card {
    height: 356px;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
}

/* Style cho các nút bấm đặc thù */
.btn-pill-outline {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-weight: 500;
}

.btn-pill-outline:hover {
    background: #000;
    color: #fff;
}

.btn-white-pill {
    background: #fff;
    color: #000;
    border-radius: 50px;
    padding: 10px 40px;
    font-weight: 600;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive cho Mobile */
@media (max-width: 768px) {

    .main-card,
    .horizontal-card,
    .square-card {
        height: 400px;
    }

    .horizontal-card {
        padding: 20px;
        align-items: flex-start;
    }

    .horizontal-card p {
        width: 100% !important;
    }
}

/* END CATEGORIES */

/* FEATURES */
.features {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .features-item {
    margin-bottom: 40px;
}

/* END FEATURES */

/* NEWSLETTER */
.newsletter {
    background: var(--gray-color);
}

.newsletter .newsletter-group {
    margin-bottom: 50px;
}

.newsletter .newsletter-form {
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

/* END NEWSLETTER */

/* FOOTER */
.footer {
    background: #201E1D;
    padding: 100px 0;
    color: #FFF;
}

.footer a {
    color: #FFF;
}

.footer h2 {
    color: #FFF;
}

.footer img {
    width: 150px;
    height: auto;
}

.footer .social-icons i {
    font-size: 40px;
}

/* END FOOTER */
.center-center-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-center-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DETAILS */
.details {
    padding: 50px 0;
}

.details img {
    object-fit: cover;
}

.details .shipping-icon {
    color: #29AC98;
}

.details .details-button:hover {
    color: var(--first-color);
}

/* END DETAILS */

/* REVIEW */
.review {
    padding: 100px 0;
}

.review-stars {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.review-img {
    border-radius: 50%;
}

.review textarea,
input {
    border: 1px solid var(--gray-color);
    width: 100%;
    padding: 15px;
    border-radius: 25px;
}

.review textarea {
    height: 150px;
    resize: none;
}

.review .comment .review-stars li {
    font-size: 24px;
}

.review .review-button {
    font-weight: 600;
}

/* END REVIEW */

/* SHOPPING CART */

.cart-item img {
    max-width: 100px;
    height: auto;
}

.quantity-input {
    width: 50px;
}

.cart-summary {
    background-color: #f8f9fa;
    border-radius: 10px;
}

/* END SHOPPING CART */

.product-size-input {
    display: none;
}

.product-size-input:checked+.product-size-label {
    background-color: #000;
    color: #fff;
    border-color: #000;
}